/.project
/.pydevproject
/config.py
*.pyc
__pycache__
/app.db
/app/static/css
/config.py
/reports_status.csv
/reports_status-reduced.csv
*.db-journal
/app/static/scss/.sass-cache
/uploads
.DS_Store
/test.db
