/.project
/.pydevproject
.DS_Store
/config.py
*.pyc
__pycache__
/app/static/css
/config.py
/reports_status.csv
/reports_status-reduced.csv
/app/static/scss/.sass-cache
*.db
*.db-journal
/databases
/uploads
/.env