{% extends "reporting/base.html" %}
{% from "forms/macros.html" import render_field %}
{% block sub_heading %}Report Submission{% endblock %}
{% block content %}

<script>
    function toggletextbox() {
        if (["1", "2"].includes(document.getElementById("conclusion").value)) {
            console.log("here");
            document.getElementById("findings").disabled = '';
        } else {
            console.log("here2");
            document.getElementById("findings").disabled = 'true';
        }
    }
</script>
<table>
    <tr>
        <td><b>Study ID:</b></td>
        <td>{{ session.id }}</td>
    </tr>
    <tr>
        <td><b>Subject ID:</b></td>
        <td>{{ session.subject.mbi_id }}</td>
    </tr>
    <tr>
        <td><b>Date of Birth:</b></td>
        <td>{{ session.subject.dob.strftime('%d/%m/%Y') }}</td>
    </tr>
    <tr>
        <td><b>XNAT ID:</b></td>
        <td><a href="{{ xnat_url }}/data/archive/experiments/{{session.xnat_uri}}?format=html" target="_blank">{{ session.xnat_id }}</a></td>
    </tr>
    <tr>
        <td><b>Scan Date:</b></td>
        <td>{{ session.scan_date.strftime('%d/%m/%Y') }}</td>
    </tr>
    <tr>
        <td><b>Priority:</b></td>
        <td>{{ session.priority_str }}</td>
    </tr>
</table>
<form method="POST" action="{{ url_for('reporting.report') }}" class="form">
    {{ form.csrf_token }}
    {{ render_field(form.conclusion, class="input select",
                    onChange="toggletextbox();") }}
    {{ render_field(form.findings, class="input text",
                    rows=8, cols=80, disabled=True) }}
    {{ render_field(form.scan_types, class="input textarea") }}
    {{ form.session_id() }}
    <input type="submit" value="Submit report" class="button green">
</form>
{% endblock %}