{% extends "reporting/base.html" %}
{% block sub_heading %}{{ page_title }}{% endblock %}
{% block content %}
<script>
    function select_session(session_id) {
        report_form = document.forms['report_form']
        report_form.session_id.value = session_id
        report_form.selected_only.value = true
        report_form.submit();
    }
</script>
<form name="report_form" method="POST" action="{{ form_target }}">
    <input type="hidden" name="session_id">
    {# Used to distinguish from the form submitted on the report/repair page #}
    <input type="hidden" name="selected_only">
</form>
<h5>{{ number_of_rows }} rows</h5>
<table class="sessions">
    <thead>
        <tr>
            <th>Session (Study) ID</th>
            <th>Subject</th>
            <th>Scan Date</th>
            <th>MBI XNAT ID</th>
            {% if include_status %}
            <th>Data Status</th>
            {% endif %}
            {% if include_priority %}
            <th>Priority</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
{% for img_session in sessions %}
    <tr onclick="{{ 'select_session({});'.format(img_session.id) }}">
        <td class="sessions-id">
            {{ img_session.id }}
        </td>
        <td class="sessions-subject }}">
            {{ img_session.subject.mbi_id }}
        </td>
        <td class="sessions-scandate">
            {{ img_session.scan_date.strftime('%d/%m/%Y') }}
        </td>
        <td class="sessions-xnatid">
            {{ img_session.xnat_id }}
        </td>
        {% if include_status %}
        <td class="sessions-status }}">
            {{ DATA_STATUS[img_session.data_status][0] }}
        </td>
        {% endif %}
        {% if include_priority %}
        <td class="sessions-priority-{{ img_session.priority_str.lower() }}">
            {{ img_session.priority_str }}
        </td>
        {% endif %}
    </div>
{% endfor %}
</tbody>
</table>
{% endblock %}