{% extends "reporting/base.html" %}
{% block sub_heading %}Unreported sessions{% endblock %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>Session ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>Scan Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>XNAT ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>Priority&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        </tr>
    </thead>
    <tbody>
{% for session in sessions %}
    <tr>
        <td>
            <a href="{{ url_for('reporting.report') }}?session={{ session.id }}">{{ session.id }}</a>
        </td>
        <td>
            <a href="{{ url_for('reporting.report') }}?session={{ session.id }}">{{ session.scan_date.strftime('%d/%m/%Y') }}</a>
        </td>
        <td>
            <a href="{{ url_for('reporting.report') }}?session={{ session.id }}">{{ session.xnat_id }}</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </td>
        <td>
            <a href="{{ url_for('reporting.report') }}?session={{ session.id }}">{{ session.priority_str }}</a>
        </td>
    </div>
{% endfor %}
</tbody>
</table>
{% endblock %}